# Name of workflow
name: Main workflow

# Trigger the workflow on push or pull request
on:
  - push
  - pull_request

jobs:
  build:

    # The type of machine to run the job on
    runs-on: ubuntu-latest

    steps:
      - name: Install
        run: make install
      - name: Linter
        run: make lint
        
